<%= javascript_tag "var answers = {};" %>

<div class="questions-container" style="background-image: url('http://res.cloudinary.com/ilidnew/image/upload/v1503736574/501906120_jqtgw0.jpg')">
  <div class="row">
  <% @id_number = 0 %>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 main-wrapper">
    <div class="heading" id='<%= @id_number +=1 %>' data-next='#<%= @id_number +=1 %>'>
    <div class="col-xs-12 col-sm-6 card">
      <h1>Quiz Duell For Politicians</h1>
      <p>You'll be surprised what you find here [placeholder text]</p>
      <div class='question-next-button'>
      <a href='#<%= @id_number %>'>GET STARTED</a>
      </div>
      </div>
    </div>
      <% @questions.each do |question| %>
      <div class="question-container" id='<%= @id_number %>' data-next='#<%= @id_number +=1 %>'>
        <h1 class="question"><%= question.text %></h1>
        <% shuffled = question.answers %>
        <% shuffled.each do |answer| %>
        <h3 class="answer" data-question=<%= question.id %>><%= answer.text %></h3>
        <% end %>
        <div class='question-next-button'>
          <a href='#<%= @id_number %>'>NEXT</a>
        </div>
        <%= javascript_tag "answers['#{question.id}'] = #{shuffled.to_json.html_safe};" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


